<%- include("partials/header"); -%>


<div class="top-container">
    <h1 class="get">Get to know me.</h1>
    <img src="/public/images/aeroplane.png" class="imagee">
    <h1 class="i">I'm Spandita !</h1>

    <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur quod ipsa praesentium, culpa nemo incidunt itaque blanditiis soluta possimus veniam temporibus error in natus molestias, cum tempore saepe maxime similique, quidem ad accusamus aspernatur? Impedit officia ea esse blanditiis quasi eius perferendis eos adipisci, laudantium consequuntur, fugit tempora veniam ipsam.</p>


</div>
<div class="middle-container">
    <h1 class="hats">My other hats</h1>

    <!-- <div class="card-group">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div> -->

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>