<%- include("partials/header"); -%>

<section id="blogs">

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class=" hover01 column col">
        
      <div class="card">
        <figure> <img src="/public/images/tim-mossholder-dBkw2Gk6u8E-unsplash(1).jpg" class="card-img-top" alt="..."></figure>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class=" hover01 column col">
      <div class="card">
       <figure> <img src="/public/images/anastasia-vityukova-qZVhZzoRV7A-unsplash.jpg" class="card-img-top" alt="..."></figure>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="hover01 column col">
      <div class="card">
       <figure> <img src="/public/images/kelly-sikkema-_whs7FPfkwQ-unsplash.jpg" class="card-img-top" alt="..."></figure>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="hover01 column col">
      <div class="card">
       <figure><img src="/public/images/michael-schofield-tYhT65mJ0G0-unsplash.jpg" class="card-img-top" alt="..."></figure> 
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="hover01 column card mb-3">
   <figure><img src="/public/images/kelly-sikkema-XX2WTbLr3r8-unsplash.jpg" class="card-img-top" alt="..."></figure> 
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>


  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class=" hover01 column col">
      <div class="card">
       <figure><img src="/public/images/gabrielle-henderson-ZiBSfB6KEFA-unsplash.jpg" class="card-img-top" alt="..."></figure> 
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="hover01 column col">
      <div class="card">
        <figure><img src="/public/images/jesper-kronholm-CMIDk3a8VHQ-unsplash.jpg" class="card-img-top" alt="..."></figure>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="hover01 column col">
      <div class="card">
       <figure> <img src="/public/images/liz99-JuC4dTIDa3k-unsplash.jpg" class="card-img-top" alt="..."></figure>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="hover01 column col">
      <div class="card">
       <figure> <img src="/public/images/annie-spratt-QdK6aujOLYs-unsplash.jpg" class="card-img-top" alt="..."></figure>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer"); -%>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>