
  
    
 
<%- include("partials/header"); -%>
  


<main>

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/public/images/carolina-heza-0lD4hF1fBv0-unsplash.jpg" class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

      <div class="container">
        <div class="carousel-caption text-start">
          <h1 class="car">You don't have to struggle in silence !</h1>
          <p class="cars">We are here for you.</p>
          <!-- <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p> -->
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/public/images/dan-meyers-hluOJZjLVXc-unsplash.jpg" class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

      <div class="container">
        <div class="carousel-caption">
       
          <!-- <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p> -->
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/public/images/20220805005735.jpg" class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

      <div class="container">
        <div class="carousel-caption text-end">
          <h1 class="car">Keep your balance</h1>
          <p class="cars">Be kind to your mind.</p>
          <!-- <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

   <!-- ______________________________________________________________________ -->
<!-- <div class=" container top px-4 ">
  <div class="row gx-5">
<div class="col p-5 mood">
   <h1 class="h">How was your mood today ? </h1>

   <div class="rating">
   
     <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
     <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
     <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
     <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
     <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
   </div>
  </div>

  <div class="col p-3 wht"></div>
</div>
</div> -->
<!-- _____________________________________________________________________________ -->


<!-- ___________________________________________________________________________ -->
<!-- <div class="grateful">
<h1 class="w">What are you grateful for today ?</h1>
<p class="l"><label for="note">leave a note here.</label></p>

<div class="myNote">
<form action="">
  
  
  <textarea id="note" name="note" rows="8" cols="80"></textarea>
  <br>
</div>
<div class="Button"><a href="#" class="btnss btn btn-light">Save the note</a></div>
</div>


</form> -->

<!-- _______________________________________________________________________ -->
<!-- <div class="support">
  <h1 class="mental">A mental support to get you through your tough times</h1>
</div>
<div class="professional">

  <label class="talk">Talk to a professional</label>
  <select class="form-select" aria-label="Default select example">
    <option selected><h1 class="a">Which kind of professional you want?</h1></option>
    <option value="1">Therapist</option>
    <option value="2">Counsellor</option>
    <option value="3">Life-coach</option>
  </select>

  <label class="talks">Enter your location</label>
  <input type="text" class="form-control" id="" placeholder="Your location">
</div>
 -->






<div class=" container mid px-4 ">
  <div class="row gx-5">
<div class="col p-5 photu">
  <div class="graph"><img src="/public/images/umit-bulut-qbTC7ZwJB64-unsplash.jpg" style='height: 100%; width: 100%; object-fit: contain'/></div>
  </div>

  <div class="col p-3 mid_2">
    <h1 class="get">NOTE TO SELF <br> Dear me,</h1>
    <P class="phy">I am sorry. I am sorry that you tried so despirately to fix others, when your own hands were shaking. I'm sorry that i didn't give you enough time to heal, that i let you seal wounds of everyone else, while your own were bleeding. I'm sorry that there were days when smiling hurt but you forced yourself to laugh so that no one had to worry about you. I'm sorry that you gave all your time and efforts to people that didn't give the same amount back.I'm sorry that i did not love you,LIKE YOU DESERVED TO BE LOVED. 
    <br><a href="#" class="btnss btn btn-dark">Explore</a></P>
  </div>
</div>
</div>
<!-- _________________________________________________________________________ -->

<div class="row row-cols-1 row-cols-md-3 g-4 cardss">
  <div class="hover07 column col">
    <div class="card h-100">
      <figure> <img src="/public/images/claudia-soraya-3m15w5sirVs-unsplash.jpg" class="card-img-top" alt="..."></figure>
      <div class="card-body">
        <h5 class="card-title">Everything feels impossible ?</h5>
        <p class="card-text">It's not you, It's Depression.</p>
        <a href="#" class="btnss btn btn-light">Read more</a>
      </div>
      
    </div>
  </div>
  <div class="hover07 column col">
    <div class="card h-100">
      <figure><img src="/public/images/priscilla-du-preez-aPa843frIzI-unsplash_1.jpg" class="card-img-top" alt="..."></figure>
      <div class="card-body">
        <h5 class="card-title">What really happens</h5>
        <p class="card-text">in Therapy Session.</p>
        <a href="#" class="btnss btn btn-light">Read more</a>
      </div>
      
    </div>
  </div>
  <div class="col hover07 column">
    <div class="card h-100">
      <figure> <img src="/public/images/finn-nJupV3AOP-U-unsplash.jpg" class="card-img-top" alt="..."> </figure>
      <div class="card-body">
        <h5 class="card-title">Why is it so hard</h5>
        <p class="card-text">to ask for Help</p>
        <a href="#" class="btnss btn btn-light">Read more</a>
      </div>
      
    </div>
  </div>
</div>


<!-- _________________________INTRO____________________________ -->


<div class=" container intro px-4 ">
  <div class="row gx-5">


    <div class="col p-3 intro_text">
      <h1 class="Spandita">I'm Spandita</h1>
      <P class="about_span"> Mental health have been very concerning topic for me since so many years.This website is a small initiative by me for every person out there who is suffering from mental illnesses. If it make a small change even in one live,it would be a great pleasure for me.
        I hope, the world would be more kind, more loving. i hope we have enough courage to get up from our bed and face the world.
        <br><a href="#" class="btnss btn btn-dark">Explore</a>
      </P></div>

<div class="col p-5 me">
  <div class="graph"><img src="/public/images/tessa-rampersad-pI0iZY5BURs-unsplash.jpg" style='height: 100%; width: 100%; object-fit: contain'/></div>
  </div>
 </div>
</div>

<!-- _________________________________________________________________________ -->

<div class=" container gratefull px-4 ">
  <div class="row gx-5 roww">

    <div class="col p-5 rose">
      <div class="graph"><img src="/public/images/rock-earth-8_sWuFn8onY-unsplash.jpg" style='height: 100%; width: 100%; object-fit: contain'/></div>
      </div>



    <div class="col p-3 rose_2">
      <div class="grateful">
        <div class="here"><h1 class="w">What are you grateful for today ?</h1>
          <p class="l"><label for="note">leave a note here.</label></p></div>



<div class="mb-3 myNote">
  
  <textarea class="form-control note" id="exampleFormControlTextarea1" style="color: white;" rows="3"></textarea>
  <a href="#" class="btnss btn btn-dark">Save</a>
</div>


 </div>
</div>
</div>
</div>


<!-- <div class="Help">
<div class="support">
  <h1 class="mental"></h1>
</div>
<div class="professional">

  <label class="talk">Talk to a professional</label>
  <select class="form-select" aria-label="Default select example">
    <option selected><h1 class="a">Which kind of professional you want?</h1></option>
    <option value="1">Therapist</option>
    <option value="2">Counsellor</option>
    <option value="3">Life-coach</option>
  </select>

  <label class="talks">Enter your location</label>
  <input type="text" class="form-control" id="" placeholder="Your location">
</div>
</div> -->
<!-- <div class="bottom"><div class="card Help" style="width: 40vw;">
  
  <div class="card-body help">
    <h5 class="card-title mental">A mental support to get you through your tough times</h5>
    <p class="card-text">
<div class="box"> <label class="talk">Talk to a professional</label>
  <select class="form-select" aria-label="Default select example">
    <option selected><h1 class="a">Which kind of professional you want?</h1></option>
    <option value="1">Therapist</option>
    <option value="2">Counsellor</option>
    <option value="3">Life-coach</option>
  </select>

  <label class="talks">Enter your location</label>
  <input type="text" class="form-control" id="" placeholder="Your location">
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div></div>
     
</div></div> -->

 

<%- include("partials/footer"); -%>
 


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>
  