<%- include("partials/header"); -%>
<!-- 
<div class="card mb-3 w-auto p-3 " style=" max-width: 100%">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/public/images/20220804222014.jpg" class="poto img-fluid rounded-start"  alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempus, ante vitae mattis bibendum, turpis ante accumsan eros, sed dictum enim mauris sed nibh. Nulla quis purus a ex feugiat feugiat. Nunc sagittis nibh eget ante tincidunt scelerisque. Integer ac sagittis eros. Nunc bibendum vulputate massa, nec lacinia turpis sodales eu. Vivamus ut eros sit amet ligula aliquet posuere. Sed placerat interdum mi vel tempor. Vivamus vel lectus quis augue venenatis tincidunt. Nullam in posuere nisi. Quisque et massa sed nisl semper varius. Integer mattis, ipsum et sagittis pellentesque, leo dolor vulputate erat, id accumsan leo enim vitae mi. Nunc vitae tincidunt sapien. Nullam ut congue tortor.

            Vestibulum eu odio fringilla, sagittis enim et, fringilla odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras at euismod mi. In et ex id ex tincidunt sollicitudin. Aliquam dignissim blandit tincidunt. Maecenas et elementum magna, quis egestas libero. In nec ex accumsan, posuere ligula a, pharetra urna. Integer quis odio turpis. Aliquam erat volutpat. Suspendisse potenti. Praesent pulvinar mauris at congue sodales. Nunc facilisis sollicitudin nulla quis pulvinar. Cras eu ipsum quis sem consequat maximus eget et mauris. Donec ullamcorper libero eget dapibus pharetra.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div> -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>