<%- include("partials/header"); -%>
<div class="anxious hover07 column card bg-dark text-white">
    <img src="/public/images/sergey-vinogradov-NSR-i-Zw_VE-unsplash.jpg" class="anxiety card-img"  style='height: 100%; width: 100%; object-fit: contain' alt="...">
    <div class="card-img-overlay">
      <h5 class="A card-title">A comprehensive list of all </h5>
      <p class="B card-text">Mental health Disorders</p>
      <p class="card-text"></p>
    </div>
  </div>
<div class="what">
  <p class="c">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis cum debitis dolor molestias molestiae autem. Molestiae quaerat vero error impedit deleniti sit quidem doloribus fugit veritatis deserunt culpa reiciendis ipsam eum provident cum qui suscipit, nam alias fuga ducimus quasi! Ipsum, odio! Reprehenderit sequi, deleniti laborum dignissimos temporibus vel voluptate magni deserunt hic mollitia tempora eum dolores laudantium modi. Veritatis aspernatur distinctio maxime aliquam nam harum voluptate sed ipsum animi mollitia nisi eaque tenetur, vitae rem doloribus. Veritatis quia vero magni quam suscipit quisquam, consectetur maiores facilis fuga non ipsum vel atque tempore eos ratione adipisci maxime veniam repudiandae neque! Optio veniam aliquam dignissimos ex tempore nesciunt aut culpa iste. Voluptatibus rem id voluptatem iste nostrum veritatis quibusdam totam, eligendi ipsam nam voluptates exercitationem corporis sunt dicta placeat incidunt a! Quae nesciunt architecto perspiciatis temporibus ab ea sed officiis velit, id eum reprehenderit delectus rem deserunt, eius recusandae repudiandae aliquam dolores, harum reiciendis autem nihil aperiam deleniti quasi atque. Odit debitis dignissimos sunt nihil et eius ipsa sed error rem veniam. Accusamus, iusto culpa nihil quam cupiditate molestias officia dicta earum maiores tempore. Iusto modi aperiam facere, ducimus nisi ratione dicta, consequatur tenetur nobis quidem est delectus velit esse corporis?
  </p>
</div>
<!-- _________________________________________________ -->


<div class="D">
  <h1 class="d">WHAT ARE SOME TYPES OF MENTAL DISORDERS ?</h1>
<p class="points">

  Mental health disorders can generally be grouped into categories. Some of the most common include:</p>

  <ul class="points">
<li>Anxiety disorders, including panic disorder, obsessive-compulsive disorder, and phobias</li>
 <li>Depression, bipolar disorder, and other mood disorders</li> 
  <li>Eating disorders</li>
 <li>Personality disorders</li> 
 <li>Post-traumatic stress disorder</li> 
  <li>Psychotic disorders, including schizophrenia</li>
  
</ul>



</div>
<!-- _____________________________________________________________________ -->


<div class="D">
<h1 class="d">
Anxiety Disorder
</h1>
<p class="points">
  Anxiety is generally characterized by feelings of tension, worrisome thoughts, and physical bodily sensations such as sweating or increased heart rate.6


People who have an anxiety disorder often deal with recurring intrusive thoughts. Intrusive thoughts are unwanted, automatic thoughts that get stuck in your mind and cause great distress and anxious thinking, which can be extremely difficult to escape.

There are some major types of anxiety disorders:
<ul class="points"><li>Generalized anxiety disorder (GAD): Chronic worry about a variety of concerns and other symptoms of anxiety often without a particular trigger</li>
 <li> Obsessive-compulsive disorder (OCD): Now in its own diagnostic category, this involves recurring, unwanted thoughts and repetitive behaviors (such as cleaning, hand washing, or tapping), often performed to try and alleviate the distress caused by the intrusive thoughts</li>
  <li>Panic disorder: Repeated episodes of intense fear or panic attacks, leading to physical symptoms such as chest pain, heart palpitations, and shortness of breath.Panic disorder is a mental health condition that causes repeated episodes of intense fear called panic attacks. Although the disorder is not life-threatening, it can interfere with the quality of your life. Treatment can help you manage the symptoms of panic disorder.</li>
 <li> Social anxiety disorder (or social phobia): Overwhelming anxiety around social situations</li>
</ul>

</p>

</div>

<!-- ______________________________________________________ -->
<div class="D">
  <h1 class="d">
    Trauma- and Stressor-Related Disorders
  </h1>

  <p class="points">
    Post-traumatic stress disorder (PTSD) is the central disorder in this category. It is a psychiatric disorder where a past traumatic experience, witnessed or experienced, causes severe distress and disruption to everyday living. A natural disaster, serious accident, war, rape, and sexual violence are examples of traumatic events that may lead to PTSD.13
    
    People with PTSD experience intense and disturbing thoughts and feelings that are related to the traumatic event, even if it happened a long time ago. They may avoid situations that might trigger a memory of the traumatic event or react strongly to ordinary things that bring them back to that traumatic time.14
    
    Post-traumatic stress disorders are sometimes differentiated into the following types, though they are not included in the DSM-5:
    <ul class="points">
   <li> Complex PTSD: PTSD that develops after prolonged, repeated trauma (such as long-term sexual or physical abuse) rather than an isolated traumatic event</li>
   <li> Delayed expression PTSD (formerly called delayed-onset PTSD): PTSD that develops more than six months after the trigger event </li>
    
   <li>Dissociative PTSD: Exhibition of prominent dissociation, or derealization and depersonalization, when recalling the traumatic experience</li></p>
  </ul>
  </div>


<div class="D"><h1 class="d">Psychotic Disorders</h1>


<p class="points">Psychotic disorders are mental illnesses that cause abnormal thoughts and perceptions that, in turn, cause someone to lose touch with reality.

  Delusions and hallucinations are common. Psychotic disorders can cause great distress and functional challenges in everyday life.
  
  Types of psychotic disorders include the following:
  <ul class="points">
 <li> Schizophrenia: Characterized by hallucinations, delusions, unusual behavior, and withdrawal</li>
 <li> Schizoaffective disorder: Combination of psychotic features such as delusions and mood symptoms like depression</li>
 <li>Schizophreniform disorder: Schizophrenia episode that lasts longer than one month but less than six months</li>
  <li>Delusional disorder: Experiencing delusions without the other symptoms or unusual behavior seen with schizophrenia
  <li>Brief psychotic disorder: Short-term episode of psychosis lasting less than one month</li>
  <li> Substance-induced psychotic disorder: Psychosis causes by the short- or long-term effects of certain drugs such as LSD
  Psychotic disorder due to a medical condition</li></ul></p></div>




  <div class="D"><h1 class="d">Personality Disorders</h1>

  <p class="points">Personality disorders are characterized by long-term maladaptive patterns of thought and behavior that may make it difficult to start or maintain relationships as well as deal with everyday stress in both personal and work life.

    People with a personality disorder might not realize they have a mental illness.
    
    There are many personality disorders, which can be classified into three major categories,12
    
     each with its own set of personality disorders:
    <ul class="points">

      <li>Schizoid personality disorder: Lifelong pattern of indifference toward others and social isolation</li>
      <li>Paranoid personality disorder: High degree of suspicion and mistrust of others without adequate cause</li>
      <li>Schizotypal personality disorder: A pattern of odd or eccentric behaviors and difficulty connecting in relationships</li>
    </ul>
    
    
    
    </p></div>

  <%- include("partials/footer"); -%>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>